<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h2 style="text-align: center;margin-right:30px;">A Propos</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <img src="../../assets/DonDuSang_Logo-Recovered.png" style="margin-top: 50px;" width="70%" alt="" />
  </div>
  <ion-card>
    <ion-card-content>
      <h2 style="text-align: center;font-size: 25px;color: rgb(221, 56, 56);font-weight: bold;">
        Don du Sang
      </h2>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <h2 style="text-align: center;font-size: 19px;color: rgb(15, 15, 15);font-family: sans-serif;">
        Développé et Conçu Par :
        <br />EVASTE
      </h2>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <p style="color: rgb(26, 26, 26);font-size: 18px;">
        <span style="font-weight: bold;color: rgb(0, 0, 0);">#1 Application mobile pour les dons de
          sang</span><br /><br />
        Application mobile de don gratuite. Le don du sang est un acte
        noble et cette application mobile peut aider à accroître la sensibilisation
        à ce sujet. ... En outre, cette application est sélectionnée pour aider les
        utilisateurs à rechercher des donneurs.
      </p>
      <br /><br />
    </ion-card-content>
  </ion-card>
</ion-content>